h1.title {
  font-size: 38px;
  text-align: center;
}

h1 {
    color: #2E5984;
    text-align: center;
}

h2, h3, h4, h5, h6, legend {
    color: #4EA1D3;
}



#sidebar h2 {
  background-color: #4EA1D3;
}

#main a:link {
  color: #4EA1D3;
}

/* visited link */
#main a:visited {
  color: #2E5984;
}

/* mouse over link */
#main a:hover {
  color: #2E5984;
}

/* selected link */
#main a:active {
  color: #2E5984;
}
